/* Cấu hình chung cho trang */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    margin: 20px 30px;
    color: #333333;/*xám đậm*/
}

/* Định dạng tiêu đề */
h1 {
    color: teal;
    font-size: 16pt;
    margin-top: 15px;
    margin-bottom: 10px;
}



/* Thẻ mô tả bên dưới tiêu đề chính */
p {
    margin-bottom: 15px;
}

/* Định dạng Nhãn (Label) cho thông tin cá nhân */
label {
    float: left;
    width: 8em;
    font-weight: normal;
    margin-bottom: 0.5em;
    line-height: 1.8em;
}

/* Kiểu dáng cho Ô nhập liệu text, email */
input[type="text"], 
input[type="email"],
select {
    width: 16em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    padding: 2px 4px;
    border: 1px solid #7f9db9;
    box-sizing: border-box;
}


/* Đảm bảo dòng xuống hàng sạch sẽ */
br {
    clear: both;
}


/* Nút Submit */
input[type="submit"], #submit {
    margin-top: 15px;
    padding: 3px 12px;
    background-color: #f0f0f0;
    border: 1px solid #707070;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #e0e0e0;
}

